<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Blog</title>
</head>

<body>
<h1>Shorten your URL</h1>
<!--/*@thymesVar id="urlshortener" type="qrypt.work.MyUrl"*/-->
<form action="#" th:action="@{/urlshortener}" th:object="${urlshortener}" method="post">
    <p>username: <input type="text" th:field="*{original}" /></p>
    <p><input type="submit" value="Get shortened url" /> <input type="reset" value="Reset" /></p>
</form>

Shortened url:

</body>

</html>